:root {
  // LIGHT COLOR SCHEME
  --pitsby-c-grey-light: #FCFCFC;
  --pitsby-c-grey-semi-light: #F5F5F5;
  --pitsby-c-grey: #C6C6C6;
  --pitsby-c-grey-semi-dark: #B4B4B4;
  --pitsby-c-grey-dark: #737C84;
  --pitsby-c-green-light: #EFFEF6;
  --pitsby-c-green-semi-light: #98EFBB;
  --pitsby-c-green: #00AE6D;
  --pitsby-c-blue-light: #E9F1FB;
  --pitsby-c-blue: #6699FF;
  --pitsby-c-blue-semi-dark: #2E72FF;
  --pitsby-c-red-light: #FFF6F6;
  --pitsby-c-red-semi-light: #FBCCCC;
  --pitsby-c-red: #FC3338;
  --pitsby-c-red-semi-dark: #AC0F0F;
  --pitsby-c-yellow-light: #FFFBF5;
  --pitsby-c-yellow-semi-light: #F2DCB5;
  --pitsby-c-yellow: #C1AA00;
  --pitsby-c-orange: #FF9632;
  --pitsby-c-purple: #A91FDE;
  --pitsby-c-clay: #DE8E7C;
  --pitsby-c-lightest: #FFFFFF;
  --pitsby-c-darkest: #333333;
  // LIGHT SPECIFIC COLORS
  --pitsby-c-primary: var(--pitsby-c-blue);
  --pitsby-c-heading: var(--pitsby-c-darkest);
  --pitsby-c-paragraph: var(--pitsby-c-darkest);
  --pitsby-c-required-symbol: var(--pitsby-c-red);
  --pitsby-c-shadow: #CCCCCC;
  --pitsby-c-editor-tooltip-bg: rgb(255 255 255 / 80%);
  --pitsby-c-editor-indent-guide: var(--pitsby-c-grey);
}

[data-pitsby-color-scheme="dark"] {
  // DARK COLOR SCHEME
  color-scheme dark
  --pitsby-c-grey-light: #0F1217;
  --pitsby-c-grey-semi-light: #161A21;
  --pitsby-c-grey: #3E4859;
  --pitsby-c-grey-semi-dark: #42424B;
  --pitsby-c-grey-dark: #7B818C;
  --pitsby-c-green-light: #002612;
  --pitsby-c-green-semi-light: #124025;
  --pitsby-c-green: #34AE81;
  --pitsby-c-blue-light: #062040;
  --pitsby-c-blue: #3060BF;
  --pitsby-c-blue-semi-dark: #6698FF;
  --pitsby-c-red-light: #400000;
  --pitsby-c-red-semi-light: #590000;
  --pitsby-c-red: #B30909;
  --pitsby-c-red-semi-dark: #E68A8A;
  --pitsby-c-yellow-light: #1A0D00;
  --pitsby-c-yellow-semi-light: #40392C;
  --pitsby-c-yellow: #C1AA00;
  --pitsby-c-orange: #FF9632;
  --pitsby-c-purple: #A91FDE;
  --pitsby-c-clay: #DE8E7C;
  --pitsby-c-lightest: #13161D;
  --pitsby-c-darkest: #CCCCCC;
  // DARK SPECIFIC COLORS
  --pitsby-c-primary: var(--pitsby-c-blue-semi-dark);
  --pitsby-c-heading: var(--pitsby-c-darkest);
  --pitsby-c-paragraph: #9CA3AF;
  --pitsby-c-required-symbol: var(--pitsby-c-red-semi-dark);
  --pitsby-c-shadow: #000000;
  --pitsby-c-editor-tooltip-bg: rgb(19 22 29 / 80%);
  --pitsby-c-editor-indent-guide: var(--pitsby-c-grey);
}

