:root {
  // EDITOR COLORS
  --pitsby-c-editor-purple: #A22D9A;
  --pitsby-c-editor-purple-dark: #6D79DE;
  --pitsby-c-editor-green: #00AE6D;
  --pitsby-c-editor-red-lighter: #FFF0EB;
  --pitsby-c-editor-red-light: #E68A8E;
  --pitsby-c-editor-red: #D75C4E;
  --pitsby-c-editor-red-dark: #590000;
  --pitsby-c-editor-aqua: #0F7FAD;
  --pitsby-c-editor-yellow-lighter: #FFFBCC;
  --pitsby-c-editor-yellow-light: #E6D200;
  --pitsby-c-editor-yellow: #987213;
  --pitsby-c-editor-yellow-dark: #896f43;
  --pitsby-c-editor-yellow-darker: #443722;
  --pitsby-c-editor-orange: #D09A6A;
  --pitsby-c-editor-blue: #4174E5;
  --pitsby-c-editor-grey-lighter: #D0D6E2;
  --pitsby-c-editor-grey-light: #A6A6A6;
  --pitsby-c-editor-grey: #343D4D;
  --pitsby-c-editor-grey-dark: #737C84;
  --pitsby-c-editor-grey-darker: #202730;
  --pitsby-c-editor-white: #FFFFFF;
  --pitsby-c-editor-black: #000000;
  // TOKENS
  --pitsby-c-editor-indent-guide: var(--pitsby-c-editor-grey-lighter);
  --pitsby-c-editor-keyword: var(--pitsby-c-editor-purple);
  --pitsby-c-editor-class: var(--pitsby-c-editor-purple-dark);
  --pitsby-c-editor-type: var(--pitsby-c-editor-aqua);
  --pitsby-c-editor-variable: var(--pitsby-c-editor-blue);
  --pitsby-c-editor-string: var(--pitsby-c-editor-green);
  --pitsby-c-editor-number: var(--pitsby-c-editor-orange);
  --pitsby-c-editor-comment: var(--pitsby-c-editor-grey-light);
  --pitsby-c-editor-text: var(--pitsby-c-editor-grey-dark);
  --pitsby-c-editor-parenthesis: var(--pitsby-c-editor-grey-dark);
  --pitsby-c-editor-operator: var(--pitsby-c-editor-purple);
  --pitsby-c-editor-cursor: var(--pitsby-c-editor-blue);
  --pitsby-c-editor-line-number: var(--pitsby-c-editor-grey);
  --pitsby-c-editor-line-selection: var(--pitsby-c-editor-grey-lighter);
  --pitsby-c-editor-error-bg: var(--pitsby-c-editor-red-lighter);
  --pitsby-c-editor-error-border: var(--pitsby-c-editor-red-light);
  --pitsby-c-editor-error-text: var(--pitsby-c-editor-red);
  --pitsby-c-editor-warning-bg: var(--pitsby-c-editor-yellow-lighter);
  --pitsby-c-editor-warning-border: var(--pitsby-c-editor-yellow-light);
  --pitsby-c-editor-warning-text: var(--pitsby-c-editor-yellow-dark);
  --pitsby-c-editor-gutter-text: var(--pitsby-c-editor-grey-light);
  --pitsby-c-editor-gutter-border: transparent;
  --pitsby-c-editor-tooltip-bg: var(--pitsby-c-editor-white);
  --pitsby-c-editor-tooltip-text: var(--pitsby-c-editor-grey-dark);
  --pitsby-c-editor-tooltip-shadow: var(--pitsby-c-editor-grey-light);
  // OTHERS
  --pitsby-c-editor-font: 12px 'PT Mono', monospace;
}

[data-pitsby-color-scheme="dark"] {
  // DARK EDITOR COLOR OVERRIDES
  --pitsby-c-editor-purple: #C57BDB;
  --pitsby-c-editor-green: #99C27C;
  --pitsby-c-editor-red: #91212A;
  --pitsby-c-editor-aqua: #5BB6C1;
  --pitsby-c-editor-yellow: #B39664;
  --pitsby-c-editor-blue: #65B0ED;
  --pitsby-c-editor-grey-lighter: #ADB8CC;
  --pitsby-c-editor-grey-light: #566580;
  // TOKENS
  --pitsby-c-editor-indent-guide: var(--pitsby-c-editor-grey-darker);
  --pitsby-c-editor-keyword: var(--pitsby-c-editor-purple);
  --pitsby-c-editor-class: var(--pitsby-c-editor-yellow);
  --pitsby-c-editor-type: var(--pitsby-c-editor-aqua);
  --pitsby-c-editor-variable: var(--pitsby-c-editor-blue);
  --pitsby-c-editor-string: var(--pitsby-c-editor-green);
  --pitsby-c-editor-number: var(--pitsby-c-editor-orange);
  --pitsby-c-editor-comment: var(--pitsby-c-editor-grey-light);
  --pitsby-c-editor-text: var(--pitsby-c-editor-grey-lighter);
  --pitsby-c-editor-parenthesis: var(--pitsby-c-editor-yellow);
  --pitsby-c-editor-operator: var(--pitsby-c-editor-aqua);
  --pitsby-c-editor-cursor: var(--pitsby-c-editor-blue);
  --pitsby-c-editor-line-number: var(--pitsby-c-editor-grey);
  --pitsby-c-editor-line-selection: var(--pitsby-c-editor-grey-darker);
  --pitsby-c-editor-error-bg: transparent;
  --pitsby-c-editor-error-border: var(--pitsby-c-editor-red-dark);
  --pitsby-c-editor-error-text: var(--pitsby-c-editor-red);
  --pitsby-c-editor-warning-bg: transparent;
  --pitsby-c-editor-warning-border: var(--pitsby-c-editor-yellow-darker);
  --pitsby-c-editor-warning-text: var(--pitsby-c-editor-yellow-dark);
  --pitsby-c-editor-gutter-text: var(--pitsby-c-editor-grey);
  --pitsby-c-editor-gutter-border: transparent;
  --pitsby-c-editor-tooltip-bg: rgb(19 22 29 / 80%);
  --pitsby-c-editor-tooltip-text: var(--pitsby-c-editor-grey-light);
  --pitsby-c-editor-tooltip-shadow: var(--pitsby-c-editor-black);
}

