@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@require '_variables'

html,
body
  margin 0
  color $color-darkest
  font-family $font-family-primary
  font-weight 300
