@require '_variables'
@require '_mixins'

html,
body
  color $color-darkest
  font-weight 300

body
  margin 0
  font-family $font-family-primary

h1, h2, h3, h4, h5, h6
  font-weight 500

p
  margin 0
  line-height 1.35
  & + p
    margin-top 20px

pre
  margin 0
  font-family $font-family-secondary
  font-size $font-size-xxs
