// COLORS
$color-grey-light = #F9F9F9
$color-grey-semi-light = #E8E8E8
$color-grey = #C9D3DD
$color-grey-semi-dark = #B4B4B4
$color-grey-dark = #737C84
$color-green-light = #EFFEF6
$color-green-semi-light = #98EFBB
$color-green = #00AE6D
$color-blue-light = #E7F5FB
$color-blue-semi-light = #A4D2E7
$color-blue = #2E89E6
$color-red-light = #FFF6F6
$color-red-semi-light = #FBCCCC
$color-red = #AC0F0F
$color-orange = #FF9632
$color-lightest = #FFFFFF
$color-darkest = #666666

$color-primary = $color-blue;

// FONT
$font-size-xxxs = 0.625rem  // 10px
$font-size-xxs = 0.75rem    // 12px
$font-size-xs = 0.875rem    // 14px
$font-size-sm = 1rem        // 16px
$font-size-md = 1.125rem    // 18px
$font-size-lg = 1.25rem     // 20px
$font-size-xl = 1.5rem      // 24px
$font-size-xxl = 2.25rem    // 36px
$font-size-xxxl = 3rem      // 48px

$font-family-primary = 'Helvetica', 'Arial', sans-serif

// LAYERS
$layer-base = 1
$layer-lowest = 10
$layer-low = 20
$layer-middle = 30
$layer-high = 40
$layer-highest = 50

// PATHS
$path-images = '/images/'

// ANIMATION
$animation-curve-default = cubic-bezier(0.080, 0.690, 0.485, 0.990)

// BREAKPOINTS
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 1024px
$screen-md-min = 1025px
$screen-md-max = 1439px
$screen-lg-min = 1440px
