@require '_variables'

$code-editor-font = 12px 'PT Mono', monospace
$code-editor-keyword = $color-clay
$code-editor-function = $color-blue-semi-dark
$code-editor-text = alpha($color-darkest, .7)
$code-editor-string = $color-green
$code-editor-number = $color-orange
$code-editor-class-name = $color-purple
$code-editor-line-selection = $color-blue-light
