@require '_variables'
@require '_mixins'

.p-code-editor
  border-width 5px 0 10px 0
  border-style solid
  border-color var(--pitsby-c-grey-light)
  box-sizing border-box
  &.ace_editor
    padding-top 5px
    font var(--pitsby-c-editor-font)
    font-weight 300
    box-sizing border-box
    .ace_indent-guide
      position relative
      background none
      &:after
        content ' '
        position absolute
        top 0
        right 0
        bottom 0
        border-right 1px dotted var(--pitsby-c-editor-indent-guide)

  &.ace-tm
    background-color transparent
    color var(--pitsby-c-editor-text)
    .ace_cursor
      color var(--pitsby-c-editor-cursor)
    .ace_gutter
      background transparent
      color var(--pitsby-c-editor-gutter-text)
      border-right 1px solid var(--pitsby-c-editor-gutter-border)
    .ace_gutter-active-line,
    .ace_fold-widget,
    .ace_print-margin,
    .ace_active-line
      display none
    .ace_text-layer
      .ace_lparen,
      .ace_rparen
        color var(--pitsby-c-editor-parenthesis)
      .ace_operator:not(.ace_punctuation)
        color var(--pitsby-c-editor-operator)
      .ace_keyword.ace_operator
        color var(--pitsby-c-editor-operator)
      .ace_class
        color var(--pitsby-c-editor-class)
      .ace_comment
        color var(--pitsby-c-editor-comment)
      .ace_storage,
      .ace_keyword
        color var(--pitsby-c-editor-keyword)
      .ace_keyword + .ace_identifier
        color var(--pitsby-c-editor-variable)
      .ace_indent-guide + .ace_identifier
        color var(--pitsby-c-editor-variable)
      .ace_indent-guide + .ace_operator ~ .ace_identifier
        color var(--pitsby-c-editor-text)
      .ace_indent-guide + .ace_type
        color var(--pitsby-c-editor-keyword)
      .ace_entity.ace_name.ace_function,
      .ace_function
        color var(--pitsby-c-editor-variable)
      .ace_string
        color var(--pitsby-c-editor-string)
      .ace_constant
        color var(--pitsby-c-editor-keyword)
      .ace_constant.ace_numeric
        color var(--pitsby-c-editor-number)
      .ace_variable
        color var(--pitsby-c-editor-class)
      .ace_variable.ace_parameter
        color var(--pitsby-c-editor-text)
      .ace_attribute-name
        color var(--pitsby-c-editor-variable)
      .ace_identifier ~ .ace_type
        color var(--pitsby-c-editor-type)
      .ace_support.ace_type
        color var(--pitsby-c-editor-text)
      .ace_meta.ace_tag
        color var(--pitsby-c-editor-keyword)
        &.ace_end-tag-open,
        &.ace_tag-open,
        &.ace_tag-close
          color var(--pitsby-c-editor-text)
    .ace_marker-layer
      .ace_selection
        background var(--pitsby-c-editor-line-selection)
      .ace_bracket
        position relative
        bottom -2px
        margin 0
        border 0
        border-bottom 1px solid var(--pitsby-c-editor-bracket-underline)
        border-radius(0)
  .ace_gutter-cell
    &.ace_info,
    &.ace_warning,
    &.ace_error
      background-image('none')
    &.ace_error
      background-color var(--pitsby-c-editor-error-bg)
      color var(--pitsby-c-editor-error-text)
      border-left 2px solid var(--pitsby-c-editor-error-border)
    &.ace_warning
      background-color var(--pitsby-c-editor-warning-bg)
      color var(--pitsby-c-editor-warning-text)
      border-left 2px solid var(--pitsby-c-editor-warning-border)
  .ace_tooltip
    padding 10px
    background var(--pitsby-c-editor-tooltip-bg)
    color var(--pitsby-c-editor-tooltip-text)
    font-family $font-family-primary
    border 0
    box-shadow(0 0 30px 0 var(--pitsby-c-editor-tooltip-shadow))
    border-radius(6px)
    box-sizing(border-box)
