@require '_variables'
@require '_mixins'

.p-engine-menu-container
  padding 0 30px
  border-bottom 1px solid alpha($color-grey, .5)
  clearfix()

.p-engine-menu
  position relative
  bottom -1px
  margin 0
  padding 0
  list-style-type none
  clearfix()

.p-engine-menu-item
  float left

.p-engine-menu-link
  display block
  padding 20px 0
  color $color-grey
  text-align center
  font-size $font-size-xxs
  font-weight 600
  text-decoration none
  text-transform uppercase
  border-bottom-width 3px
  border-bottom-style solid
  border-bottom-color $color-grey
  box-sizing(border-box)
  &:focus
    outline 0
    background-color alpha($color-lightest, .25)
    border-radius(6px 6px 0 0)
  &.p-engine-menu-link-active
    color $color-blue
    border-bottom-color $color-blue
