@require '_variables'
@require '_mixins'

.p-engine-menu
  margin 9.5px 0 0
  padding 0
  list-style-type none
  clearfix()

.p-engine-menu-item
  float left
  margin-left 20px

.p-engine-menu-link
  position relative
  color $color-grey
  text-decoration none
  text-transform capitalize
  &.p-engine-menu-link-active
    color $color-blue
    &:after
      position absolute
      content ' '
      top 38px
      left 50%
      width 6px
      height 6px
      background-color $color-blue
      border-radius(3px)
      transform('translate(-50%,50%)')
