@require '_variables'
@require '_mixins'

.p-engine-menu-container
  border-bottom 1px solid alpha($color-grey, .5)
  clearfix()

.p-engine-menu
  position relative
  left 50%
  bottom -1px
  float left
  margin 0
  padding 0
  list-style-type none
  transform('translateX(-50%)')

.p-engine-menu-item
  float left

.p-engine-menu-link
  display inline-block
  padding 20px
  min-width 120px
  color $color-grey
  text-align center
  font-size $font-size-xxs
  font-weight 600
  text-decoration none
  text-transform uppercase
  border-bottom-width 3px
  border-bottom-style solid
  border-bottom-color $color-grey
  box-sizing(border-box)
  &.p-engine-menu-link-active
    color $color-blue
    border-bottom-color $color-blue
