.p-external-component-code
  color var(--pitsby-c-editor-text)
  line-height 1.5

  .token
    &.keyword
      color var(--pitsby-c-editor-keyword)
    &.string,
    &.attr-value
      color var(--pitsby-c-editor-string)
    &.function,
    &.attr-name
      color var(--pitsby-c-editor-variable)
    &.class-name
      color var(--pitsby-c-editor-class)
    &.tag
      color var(--pitsby-c-editor-keyword)
    &.number
      color var(--pitsby-c-editor-number)
    &.operator
      background transparent
      color var(--pitsby-c-editor-operator)
    &.punctuation
      color var(--pitsby-c-editor-text)
    &.property
      color var(--pitsby-c-editor-text)
    &.comment
      color var(--pitsby-c-editor-comment)
