@require '_mixins'
@require '_variables'

.p-external-component-example-edit-link
  button
    background-color transparent
    color $color-primary
    font-size $font-size-xxs
    font-weight 600
    text-decoration none
    border 0
    cursor pointer
    webkit-appearance(none)
    &:hover,
    &:active,
    &:focus
      text-decoration underline
  .p-icon
    position relative
    width 16px
    height 16px
    top 1px
    background-color $color-primary
