@require '_mixins'
@require '_variables'

.p-external-component-example-edit-link
  button
    padding-right 20px
    color $color-primary
    font-size $font-size-xxs
    font-weight 600
    text-decoration none
    background-color transparent
    background-position right center
    background-repeat no-repeat
    background-image('open.svg')
    border 0
    cursor pointer
    webkit-appearance(none)
    &:hover,
    &:active,
    &:focus
      text-decoration underline
