@require '_variables'
@require 'code-editor-variables'

.p-external-component-code
  color $code-editor-text
  line-height 1.5
  .token
    &.keyword
      color $code-editor-keyword
    &.string,
    &.attr-value
      color $code-editor-string
    &.function,
    &.attr-name
      color $code-editor-function
    &.class-name
      color $code-editor-class-name
    &.tag
      color $code-editor-keyword
    &.number
      color $code-editor-number
    &.operator
      color $code-editor-keyword
    &.punctuation
      color $code-editor-text
