@require '_mixins'

.p-external-component
  p-heading
    & + p
      margin-top 30px
  .p-external-component-heading-container
    clearfix()
    .p-tag
      position relative
      top 8px
  .p-heading
    h2
      float left
    h3
      margin-bottom 50px
  .p-tag
    display block
    float left
    margin-left 10px
  .p-external-component-attributes-list,
  .p-external-component-methods-list,
  .p-external-component-examples-list
    margin-top 75px
