@require '_variables'
@require '_mixins'

active()
  background-color $color-grey-light

.p-external-components-list
  p-list-item
    padding 12px 30px
    cursor pointer
    border-left-color $color-primary
    border-left-style solid
    border-left-width 0
    box-sizing(border-box)
    transition(all, 300ms)
    unselectable()
    +highlight()
      active()
    &.p-external-components-list-item-active
      active()
      padding-left 27px
      font-weight 600
      border-left-width 3px
      cursor default
      pointer-events none
