@require '_mixins'
@require '_variables'

.p-external-component-example-edit-link
  a
    padding-right 20px
    color $color-blue
    font-size $font-size-xxs
    font-weight 600
    text-decoration none
    background-position right center
    background-repeat no-repeat
    background-image('open.svg')
    &:hover
      text-decoration underline
