@require '_variables'
@require '_mixins'

.p-heading
  h1, h2, h3, h4, h5, h6
    position relative
    margin 0
    font-weight 600
    box-sizing(border-box)
  h3
    font-size $font-size-md
    text-transform uppercase
  h4, h5, h6
    font-weight normal
