@require '_variables'
@require '_mixins'

.p-link
  color $color-primary
  text-decoration none
  text-decoration-thickness 0.09em
  text-underline-offset 0.09em
  +highlight()
    color $color-blue-semi-dark
