@require '_mixins'

.p-logo
  width 130px
  height 40px
  background-position center
  background-repeat no-repeat
  background-size contain
  background-image('logo.svg')

+breakpoint('xs')
  .p-logo
    height 40px !important
