@require '_variables'
@require '_mixins'

.p-search-input
  position relative
  display block
  +placeholder()
    text-transform uppercase
    font-weight 600
  .p-icon-magnifying-glass
    position absolute
    top 50%
    right 20px
    width 16px
    height 16px
    background-color $color-grey-semi-dark
    transform('translateY(-50%)')
  input
    width 100%
    padding-right 60px
