@require '_variables'
@require 'sidebar-variables'

.p-sidebar
  padding-top $sidebar-padding-top
  max-width $sidebar-max-width
  background-color $sidebar-color
  overflow-x hidden
  overflow-y scroll
  .p-logo
    margin 0 30px 30px
  .p-external-components-list
    margin-top 50px
