@require '_variables'
@require 'sidebar-variables'

.p-sidebar
  padding-top $sidebar-padding-top
  max-width $sidebar-max-width
  background-color $sidebar-color
  overflow-x hidden
  overflow-y scroll
  .p-external-components-list
    margin-top 50px

.p-sidebar-header
  padding 0 30px 30px
  display flex
  align-items center
  justify-content space-between
  .p-trigger
    .p-icon-color-scheme
      width 16px
      height 16px
      background-color $color-grey
