@require '_variables'
@require '_mixins'

.p-tabs-bar
  border-bottom 3px solid $color-grey-semi-light
  clearfix()

.p-tabs-bar-items-container
  position relative
  float left
  &.p-tabs-bar-items-centered
    left 50%
    transform('translateX(-50%)')

.p-tabs-bar-item
  position relative
  bottom -3px
  float left
  padding 10px
  color $color-grey
  font-size $font-size-xxxs
  font-weight 600
  text-transform uppercase
  cursor pointer
  border-bottom-width 3px
  border-bottom-style solid
  border-bottom-color $color-grey
  unselectable()
  &.p-tabs-bar-item-active
    color $color-blue
    border-bottom-color $color-primary

.p-tabs-content
  padding 30px
  background-color alpha($color-grey-semi-light, 0.25)
  overflow-x scroll
  overflow-y visible
