@require '_variables'
@require '_mixins'

.p-tabs-bar
  border-bottom 1px solid $color-grey
  clearfix()

.p-tabs-bar-item
  position relative
  bottom -1px
  float left
  padding 10px
  font-size $font-size-xxxs
  text-transform uppercase
  cursor pointer
  opacity .5
  unselectable()
  &.p-tabs-bar-item-active
    border-bottom 1px solid $color-primary
    opacity 1

.p-tabs-content
  padding 30px
  background-color alpha($color-grey-semi-light, 0.25)
  overflow-y scroll
