@require '_variables'
@require '_mixins'

.p-tag
  display inline-block
  padding 1px 4px
  background-color $color-grey-semi-light
  color $color-grey-dark
  font-size $font-size-xxxxs
  font-weight bold
  text-transform uppercase
  border-width 1px
  border-style solid
  border-color $color-grey-dark
  border-radius(3px)
  &.p-tag-danger
    background-color $color-red-semi-light
    color $color-red-semi-dark
    border-color $color-red-semi-light
