@require '_variables'
@require '_mixins'

.p-topbar
  display flex
  align-items center
  justify-content space-between
  height 60px
  background-color $color-grey-semi-light
  .p-logo
    position absolute
    height 25px
    max-height 25px
    left 50%
    top 50%
    transform('translate(-50%,-50%)')
  .p-icon-color-scheme
    width 17px
    height 17px
