@require '_variables'
@require '_mixins'

.p-topbar
  height 60px
  background-color $color-grey-semi-light
  .p-logo
    position absolute
    width 81px
    height 25px
    max-height 25px
    left 50%
    top 50%
    transform('translate(-50%,-50%)')
