@require '_variables'
@require '_mixins'
@require 'sidebar'

.p-viewport
  position relative
  .p-main
    margin-left $sidebar-max-width
    width 'calc(100% - %s)' % $sidebar-max-width
  .p-external-component
    padding 60px 30px
    box-sizing(border-box)
