{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "module": true,
    "spyOn": true,
    "angular": true,
    "Babel": true,
    "React": true,
    "ReactDOM": true,
    "Vue": true,
    "inject": true
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "complexity": ["error", { "max": 3 }],
    "max-lines": ["error", { "max": 115 }],
    "max-statements": ["error", { "max": 5 },
      { "ignoreTopLevelFunctions": true }
    ]
  },
  "overrides": [
    {
      "files": [ "src/**/*.test.js" ],
      "rules": {
        "max-lines": ["error", { "max": 250 }],
        "max-statements": ["error", { "max": 15 },
          { "ignoreTopLevelFunctions": true }
        ]
      }
    }
  ]
}
