<div class="p-external-component-attributes-list">
  <p-external-component-props-list
    data-title="{{ $ctrl.title }}">
    <p-external-component-props-list-item
      ng-repeat="attribute in $ctrl.attributes">
      <p-row>
        <p-row-item
          data-size="4"
          data-label="Name">
          <span ng-bind="attribute.name"></span>
          <p-tag ng-if="attribute.deprecated" data-theme="danger">
            Deprecated
          </p-tag>
        </p-row-item>
        <p-row-item
          data-size="2"
          data-label="Required">
          <span ng-bind="attribute.required"></span>
        </p-row-item>
        <p-row-item
          data-size="2"
          data-label="Type">
          <span ng-bind="attribute.type"></span>
        </p-row-item>
        <p-row-item
          data-size="4"
          data-label="Valid Values">
          <span ng-bind="attribute.values"></span>
        </p-row-item>
      </p-row>
    </p-external-component-props-list-item>
  </p-external-component-props-list>
</div>
