<div class="p-engine-menu-container"
  ng-if="$ctrl.shouldShowMenu"
  data-engine-menu-container>
  <ul class="p-engine-menu">
    <li
      ng-repeat="project in $ctrl.projects"
      style="width: {{ $ctrl.itemsWidth }};"
      class="p-engine-menu-item">
      <a
        ng-bind="project.engine"
        class="p-engine-menu-link"
        ui-sref-active="p-engine-menu-link-active"
        ui-sref="app.external-components({ engine: '{{ project.engine }}' })">
      </a>
    </li>
  </ul>
</div>
