<div class="p-external-component-example">
  <p-heading
    ng-if="$ctrl.example.title"
    data-text="{{ $ctrl.example.title }}"
    data-size="4">
  </p-heading>
  <p-paragraph
    ng-if="$ctrl.example.description"
    data-external-component-example-description>
    {{ $ctrl.example.description }}
  </p-paragraph>
  <p-tabs
    data-query-param-group-key="{{ $ctrl.tabQueryParamGroupKey }}"
    data-query-param-key="{{ $ctrl.tabQueryParamKey }}">
    <p-tab data-name="Preview">
      <p-external-component-preview
        data-engine="$ctrl.engine"
        data-example="$ctrl.example">
      <p-external-component-preview>
    </p-tab>
    <p-tab
      ng-if="$ctrl.shouldShowTemplateTab"
      data-name="Template"
      data-external-component-example-template-tab>
      <p-external-component-code
        data-code="$ctrl.example.template"
        data-language="html">
      <p-external-component-code>
    </p-tab>
    <p-tab data-name="Controller" ng-if="$ctrl.example.controller">
      <p-external-component-code
        data-code="$ctrl.example.controller"
        data-language="javascript">
      <p-external-component-code>
    </p-tab>
  </p-tabs>
</div>
