<div class="p-external-component-example">
  <p-heading
    ng-if="$ctrl.example.title"
    data-text="{{ $ctrl.example.title }}"
    data-size="4">
  </p-heading>
  <p-tabs>
    <p-tab data-name="Preview">
      <p-external-component-preview
        data-example="$ctrl.example">
      <p-external-component-preview>
    </p-tab>
    <p-tab data-name="Markup">
      <p-external-component-markup
        data-markup="{{ $ctrl.example.template }}">
      <p-external-component-markup>
    </p-tab>
  </p-tabs>
</div>
