<div class="p-external-components-playground">
  <p-tabs data-query-param-key="tab" data-bar-items-position="center">
    <p-tab data-name="Preview" data-on-select="$ctrl.onPreviewRendering">
      <p-external-component-preview
        ng-if="$ctrl.shouldShowPreview"
        data-engine="$ctrl.engine"
        data-example="$ctrl.preview">
      <p-external-component-preview>
    </p-tab>
    <p-tab data-name="Template" data-on-select="$ctrl.onPreviewDestroying">
      <p-code-editor
        ng-if="$ctrl.template"
        data-mode="html"
        data-code="$ctrl.template"
        data-on-change="$ctrl.setTemplate" />
    </p-tab>
    <p-tab data-name="Controller" data-on-select="$ctrl.onPreviewDestroying">
      <p-code-editor
        ng-if="$ctrl.controller"
        data-mode="javascript"
        data-code="$ctrl.controller"
        data-on-change="$ctrl.setController" />
    </p-tab>
    <p-tab data-name="Styles" data-on-select="$ctrl.onPreviewDestroying">
      <p-code-editor
        ng-if="$ctrl.styles"
        data-mode="css"
        data-code="$ctrl.styles"
        data-on-change="$ctrl.setStyles" />
    </p-tab>
  </p-tabs>
</div>
