<div class="p-external-component">
  <p-requester
    data-fetch="$ctrl.fetch"
    data-fetch-success="$ctrl.fetchSuccess"
    data-should-hide-content-on-request="true">
    <div class="p-external-component-heading-container">
      <p-heading
        ng-if="$ctrl.component.name"
        data-text="{{ $ctrl.component.name }}"
        data-size="2">
      </p-heading>
      <p-tag
        ng-if="$ctrl.component.deprecated"
        data-theme="danger">
        Deprecated
      </p-tag>
    </div>
    <p-paragraph>
      {{ $ctrl.component.description }}
    </p-paragraph>
    <p-external-component-attributes-list
      ng-if="$ctrl.attributes"
      data-attributes="$ctrl.attributes"
      data-title="{{ $ctrl.attributesListTitle }}">
    </p-external-component-attributes-list>
    <p-external-component-methods-list
      ng-if="$ctrl.component.methods"
      data-methods="$ctrl.component.methods">
    </p-external-component-methods-list>
    <p-external-component-examples-list
      ng-if="$ctrl.component.examples"
      data-examples="$ctrl.component.examples"
      data-engine="$ctrl.engine">
    </p-external-component-examples-list>
  </p-requester>
</div>
